<!doctype html>
<html lang="en-US">
  <head>
    <title>Name of Application</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app.css">
  </head>
  <header>
    <h1>National Park Tracker</h1>
  </header>
  <body>
    <% if session[:error] %>
      <div class="error">
        <%= session.delete(:error) %>
      </div>
    <% end %>

    <% if session[:message] %>
      <div class="success">
        <%= session.delete(:message) %>
      </div>
    <% end %>
  </body>
  <main>
    <%== yield %>
  </main>

</html>
