<form action="/users/signin" method=post>
  <div>
    <label for="username">Username: </label>
    <input name="username">
  </div>
  <br>
  <div>
    <label for="password">Password: </label>
    <input type="password" name="password">
  </div>
  <br>
  <button type="signin">Sign in</button>
</form>